body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.finggu-container {
    padding: 20px;
    margin: auto;
    max-width: 600px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}